{% extends "base.html" %}

{% load static %}

{% block content %}

<section class="u-clearfix u-section-3 colorfondo" id="sec-907d" >

{% if user.is_authenticated %}
<div class="u-sheet">
  <h1 style="text-align: center; color: black;">BANATZAILEA</h1>
</div>
    <div class="iframe margins row">
      <img src="{% static 'images/repartidor.png' %}">
      </div>
  <div class="margins" style="float: left;width: 600px;height: auto; padding-top: 40px;max-width: 100%;margin:auto; margin-top: 4%;">
    <form action="/banatzailea/" method="POST"  style="margin: auto;  width: 300px;">{% csrf_token %}
      <fieldset>
      <legend  style="text-align: center;">Banatzaile datuak</legend>
      <div>
      </div>
      <div class="u-sheet">
        <div>
          <div style="width: 30px;height: auto; position: relative;float: left;"><i class="fa fa-database icon3"></i>
          </div><input type="text" id="nan" name="nan" placeholder="NaN" pattern="[0-9]{8}[A-Za-z]{1}" required><span class="validity"></span><br><br>
        </div>
      </div>
      <div class="u-sheet">
        <div>
          <div style="width: 30px;height: auto; position: relative;float: left;"><i class="fa fa-user icon3"></i>
          </div><input type="text" id="izena" name="izena" placeholder="Izena" required> <span class="validity"></span><br><br>
        </div>
      </div>
      <div class="u-sheet">
        <div>
          <div style="width: 30px;height: auto; position: relative;float: left;"><i class="fa fa-user icon3"></i>
          </div><input type="text" id="abizena" name="abizena" placeholder="Abizena" required> <span class="validity"></span><br><br>
        </div>
      </div>
      <div class="u-sheet">
        <div>
          <div style="width: 30px;height: auto; position: relative;float: left;"><i class="fa fa-phone icon3"></i>
          </div><input type="tel" id="telefonoa" name="telefonoa" placeholder="Telefonoa" pattern="^[9|8|7|6]\d{8}$" required> <span class="validity"></span><br><br>
        </div>
      </div>
      <div class="u-sheet">
        <div>
          <div style="width: 30px;height: auto; position: relative;float: left;"><i class="fa fa-calendar icon3"></i>
          </div><input type="date" id="urtebetetzea" name="urtebetetzea" placeholder="Urtebetetzea" required> <span class="validity"></span><br><br>
        </div>
      </div>
      <div class="u-sheet">
        <div><button type="submit">Bidali</button></div>
      </div><br><br>
    </fieldset>
    </form>
  </div>
{% else %}
<h1>Logeatu admin kontu batekin web orrialdera sartu ahal izateko</h1>
{% endif %}
  
</section>

{% endblock %}