{% extends "base.html" %}

{% load static %}

{% block content %}

<section class="u-clearfix u-section-3" id="sec-907d">
  <div class="u-sheet">
    <h1 style="text-align: center;">KONTAKTOA</h1>
  </div><br><br>
  <div class="iframe margins row">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2446.535099749372!2d-2.4917630681271787!3d43.17934176977825!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd4e2af1191939a3%3A0x3527ebcc550f9000!2sUni%20Eibar-Ermua!5e0!3m2!1ses!2ses!4v1632905119193!5m2!1ses!2ses"
      width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  </div>
  <div style="float: left;display: block;width: 150px;height: 100px;"></div>
  <div class="margins"
    style="float: left;width: 600px;height: auto; padding-top: 20px;max-width: 100%;margin:auto;border: 1px solid black; margin-bottom: 5%;">
    <form method="POST">{% csrf_token %}{{form.as_p}}
      <div>
        <h2 class="center">Zalantza bat baduzu</h2>
      </div>
      <div class="u-sheet">
        <div>
          <div style="width: 30px;height: auto; position: relative;float: left;"><i class="fa fa-user icon3"></i>
          </div><input type="text" id="fname" name="fname" placeholder="Izena" required><span class="validity"></span><br><br>
        </div>
      </div>
      <div class="u-sheet">
        <div>
          <div style="width: 30px;height: auto; position: relative;float: left;"><i class="fa fa-envelope icon3"></i>
          </div><input type="email" id="lname" name="email" placeholder="Email" required><span class="validity"></span><br><br>
        </div>
      </div>
      <div class="u-sheet">
        <div>
          <div style="width: 30px;height: auto; position: relative;float: left;"><i class="fa fa-phone icon3"></i>
          </div><input type="tel" id="lname" name="phone" placeholder="Telefonoa" pattern="^[9|8|7|6]\d{8}$"  required><span class="validity"></span><br><br>
        </div>
      </div>
      <div class="u-sheet">
        <div>
          <div style="width: 30px;height: auto; position: relative;float: left;"><i class="fa fa-comment icon3"></i>
          </div><textarea style="resize: none;" id="w3review" name="message" rows="8" cols="45" placeholder="Testua"
            required></textarea><br><br>
        </div>
      </div>
      <div class="u-sheet">
        <div><button type="submit">Bidali</button></div>
      </div><br><br>
    </form>
  </div>
</section>

{% endblock %}