<html>
    <body>
        <br>
        <h3>Te has registrado en nuestra pagina</h3>
        <br>
        <p>Estimado <strong>{{izena}}</strong> ,</p>
        Gracias por registrarte con nosotros.
        <p>Email : <a href='{{email}}'>{{email}}</a></p>
        <p>Contraseña : {{password}}</p>
        Para iniciar sesion visita <a href="#">www.j.a.h.com</a>
        <br>
        <br>
        J.A.H
        <br>
        <br>
        <img src='https://c.tenor.com/_LGLman7M6wAAAAC/aqua-konosuba.gif'>
    </body>
</html>