{% extends "base.html" %}

{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'nicepage.css' %}" media="screen">
<link rel="stylesheet" href="{% static 'About.css' %}" media="screen">
<script class="u-script" type="text/javascript" src="{% static 'about.js' %}" defer=""></script>


<ul class="nav nav-tabs" style=" display: flex;justify-content: center;">
    <li class="nav-item">
        <a class="nav-link active" id="home-tab" href="{% url 'Janaria' %}">Dena</a>
    </li>
    {% for categoria in janarimotak %}
    <li class="nav-item">
        <a class="nav-link" id="profile-tab" href="/categoria/{{categoria.id}}/">{{categoria.izena}}</a>
    </li>
    {% endfor %}
</ul>

{% for janariTipo in janarimotak %}
<section class="u-clearfix u-image u-section-1 u-section-{{janariTipo.id}}" id="carousel_e7cc">
    <div class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-xl u-sheet-1">
        <div class="u-clearfix u-gutter-30 u-layout-wrap u-layout-wrap-1">
            <div class="u-gutter-0 u-layout">
                <h1 style="color: white;">{{janariTipo.izena}}</h1>
                <div class="u-layout-col">
                    {% for janaria in janariak %}
                    {% ifequal janaria.janarimota janariTipo.id %}
                    {% ifequal janaria.posizioa "1" %}
                    <p class="janariId" style="display: none;">{{janaria.id}}</p>
                    <div class="u-layout-row">
                        <div
                            class="u-align-left u-container-style u-layout-cell u-left-cell u-opacity u-opacity-85 u-size-30 u-white u-layout-cell-1">
                            <div
                                class="u-border-2 u-border-grey-15 u-container-layout u-valign-middle u-container-layout-1">
                                <img src="/static/media/{{janaria.argazkia}}" class="u-food-image"></img>
                                <h3 class="u-custom-font u-font-playfair-display u-text u-text-1" id="janari{{janaria.id}}">
                                    {{janaria.izena}}
                                </h3>
                                <p class="u-text u-text-2">{{janaria.deskripzioa}}</p>
                                <h4><b style="text-align: start;" id="prezioa{{janaria.id}}">{{janaria.prezioa}}€</b></h4>
                                <p style="text-align: end; align-content: flex-end;" class="kopuruak"> Kopurua: <b
                                        id="kopurua{{janaria.id}}">0</b>
                                    <br>
                                    <img class="substractImagen" janariId="{{janaria.id}}" style="align-self: end;"
                                        src="https://img.icons8.com/ios/50/000000/minus--v1.png" width="30px"
                                        height="30px" />
                                    <img class="addImagen" janariId="{{janaria.id}}" style="align-self: end;"
                                        src="https://img.icons8.com/ios/50/000000/plus--v1.png" width="30px"
                                        height="30px" />
                                </p>
                            </div>
                        </div>
                        {% else %}
                        <div
                            class="u-align-left u-container-style u-layout-cell u-left-cell u-opacity u-opacity-85 u-size-30 u-white u-layout-cell-2">
                            <div
                                class="u-border-2 u-border-grey-15 u-container-layout u-valign-middle u-container-layout-2">
                                <img src="/static/media/{{janaria.argazkia}}" class="u-food-image"></img>
                                <h3 class="u-custom-font u-font-playfair-display u-text u-text-1" id="janari{{janaria.id}}">
                                    {{janaria.izena}}</h3>
                                <p class="u-text u-text-2">{{janaria.deskripzioa}}</p>
                                <h4><b style="text-align: start;" id="prezioa{{janaria.id}}">{{janaria.prezioa}}€</b></h4>
                                <p style="text-align: end; align-content: flex-end;" class="kopuruak"> Kopurua:
                                    <b id="kopurua{{janaria.id}}">0</b>
                                    <br>
                                    <img class="substractImagen" janariId="{{janaria.id}}" style="align-self: end;"
                                        src="https://img.icons8.com/ios/50/000000/minus--v1.png" width="30px"
                                        height="30px" />
                                    <img class="addImagen" janariId="{{janaria.id}}" style="align-self: end;"
                                        src="https://img.icons8.com/ios/50/000000/plus--v1.png" width="30px"
                                        height="30px" />
                                </p>
                            </div>
                        </div>
                    </div>
                    {% endifequal %}
                    {% endifequal %}
                    {% endfor %}
                </div>
                <br>
            </div>
        </div>
    </div>
</section>
{% endfor %}
{% endblock %}