{% extends "base.html" %}

{% load static %}

{% block content %}

<h1 style="text-align: center;">Saskia</h1>
<br><br>
<div class="divSaskia" id="divSaskia">
  <div style="border: solid black; border-radius: 10px; margin-left: 30%; margin-right: 30%;">
    <ol id="saskiItem" class="custom-counter" style="padding: 10px;"></ol>
    <p id="prezioaTotala"></p>
  </div>
</div>

<br><br>
<h3 class="center" id="ordainketa"></h3>
<div id="ordainketaMetodoak"
  class="u-align-center u-container-style u-layout-cell u-center-cell u-opacity u-opacity-85 u-size-30 u-white u-layout-cell-1"
  style="margin: auto; max-width: 100%;">
  <div class=" u-container-layout" style="margin: auto;" onclick="showAllForms()">
    <h3>Kreditu txartelaz</h3>
    <img src="{% static 'images/iconopaypal.png' %}" style="padding: 0px; width: 200px; height: auto;">
  </div>
  <div class=" u-container-layout" style="margin: auto;" onclick="showAddressForm()">
    <h3>Eskuz</h3>
    <img src="{% static 'images/iconoeskuz.png' %}" style="padding: 0px; width: 235px; height: auto;">
  </div>
</div>

<div class="parentDivForm" id="parentDivForm">
  <div class="creditCardForm childDivForm" id="divHelbidea">
    <div id="divDatos">
      <div class="heading">
        <h1 class="center">Helbide informazioa</h1>
      </div>
      <div class="payment">
        <form>
          <div class="form-group owner">
            <label for="owner">Helbidea</label>
            <input type="text" class="form-control" id="helbidea">
          </div>
          <div class="form-group CVV">
            <label for="cvv">Posta kodea</label>
            <input type="text" class="form-control" id="pk" pattern="[0-9]{5}">
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="creditCardForm childDivForm" id="divTxartela">
    <div class="heading">
      <h1>Kreditu txartel informazioa</h1>
    </div>
    <div class="payment">
      <form>
        <div class="form-group owner">
          <label for="owner">Izena</label>
          <input type="text" class="form-control" id="owner">
        </div>
        <div class="form-group CVV">
          <label for="cvv">CVV</label>
          <input type="text" class="form-control" id="cvv" pattern="[0-9]{3}">
        </div>
        <div class="form-group" id="card-number-field">
          <label for="cardNumber">Txartel zenbakia</label>
          <input type="text" class="form-control" id="cardNumber" pattern="[0-9]{16}">
        </div>
        <div class="form-group" id="expiration-date">
          <label>Iraungitze data</label>
          <select>
            <option value="01">Urtarrila</option>
            <option value="02">Otsaila </option>
            <option value="03">Martxoa</option>
            <option value="04">Apirila</option>
            <option value="05">Maiatza</option>
            <option value="06">Ekaina</option>
            <option value="07">Uztaila</option>
            <option value="08">Abuztua</option>
            <option value="09">Iraila</option>
            <option value="10">Urria</option>
            <option value="11">Azaroa</option>
            <option value="12">Abendua</option>
          </select>
          <select>
            <option value="16"> 2022</option>
            <option value="17"> 2023</option>
            <option value="18"> 2024</option>
            <option value="19"> 2025</option>
            <option value="20"> 2026</option>
            <option value="21"> 2027</option>
          </select>
        </div>
        <div class="form-group" id="credit_cards">
          <img src="{% static 'images/visa.jpg' %}" id="visa">
          <img src="{% static 'images/mastercard.jpg' %}" id="mastercard">
          <img src="{% static 'images/amex.jpg' %}" id="amex">
        </div>
      </form>
    </div>
  </div>
  <div class="form-group" id="pay-now">
    <button type="submit" onclick="validateForms()"
      style="height: 60px; width: 250px;   font-size: 24px; background-color: #2ec4a5;" class="btn btn-default"
      id="confirm-purchase">Baieztatu</button>
  </div>
</div>
<br>

{% endblock %}